<div class="row">
    <div class="col-xs-12"></div>
    <img src="" alt="" class="img-responsive">
</div>
<div class="row">
    <div class="col-xs-12">
    <h1>Recepie name</h1>
    </div>
</div>
<div class="row">
    <div class="xs-col-12">
    <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle">Manage Recepie<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">To Shopping List</a></li>
            <li><a href="#"></a>Edit recepie</li>
            <li><a href="#"></a>Delete a recepie</li>
        </ul>
    </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-xs-12">

        <p>Description of the recepie</p>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <p>Ingredients</p>

    </div>
</div>