<!-- A pipe is responsible for transforming the output, so the right place to place it is the HTML template. -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" [(ngModel)]="filteredStatus">
      <hr>
      <br>
      <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
      <br><br>
      <h2>App Status: {{appStatus | async}}</h2>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter: filteredStatus | sort: 'name'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten: 15 }}</strong> | 
          {{ server.instanceType | uppercase | reverse }} | 
          {{ server.started | date: 'fullDate' | uppercase }}

          
          <!-- Enter parameters after the colon, if there are more than one parameters, seperate them by successive colons -->

          <!-- pipes are applpied from left to right side, so first the date pipe goes into the server.started property and to the resultant output the uppercase property is applied, so if you write upperacase first you will get an error -->

        </li>
      </ul>
    </div>
  </div>
</div>
